{% extends "root.html" %}
{% load i18n l10n %} 

{% block "head_block" %}
        <script src="/static/jquery.js"></script>
 
 <!--link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
	<script src="/static/leaflet-providers.js"></script-->
	
	
	         <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
   integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
   crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
   integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
   crossorigin=""></script>
	<script src="/static/leaflet-providers.js"></script>
	
{% endblock "head_block" %}
    

{% block "content" %}

<div class="container">
<br/><br/>
    <h1>Dataviz</h1>
    <p>
        Some strange vis
    </p>
    <br/>
    <h2>{% trans "Statistics" %}</h2>
    
    <p>
        Apiarys <span class="badge badge-secondary">{{chart_apiaries}}</span><br/>
        Hives <span class="badge badge-secondary">{{chart_hives}}</span>
      </p>

<br/>

		<h2>{% trans "heatmap" %}</h2>


	<div id='map' style="height: 600px; width: 100%; position: relative;"></div>
    




<script>


var map = L.map('map', {
			center: [{{avg_lat|unlocalize}}, {{avg_long|unlocalize}}],
			zoom: 12,
			zoomControl: true
		});

var defaultLayer = L.tileLayer.provider('MapBox.kinkerl.ibflihof').addTo(map);


//


   function hex(x) {
        return ("0" + parseInt(x).toString(16)).slice(-2);
    }

    function grade(percent){
        r = (1 - percent) * 0 + percent * 255
        g = (1 - percent) * 255 + percent * 0
        b = (1 - percent) * 0 + percent * 0
        return "#"+ hex(r) + hex(g) + hex(b)
    }



$.getJSON("/heatmap/json/", function( data ) {
    L.geoJson(data, {
        style: function(feature) {
            return  {

                fillColor: grade(feature.properties.heat),
                fillOpacity: 0.3,
                opacity:  0
            };
        }
    }).addTo(map);
});



var legend = L.control({position: 'bottomright'});

legend.onAdd = function (map) {

    var div = L.DomUtil.create('div', 'info legend'),
        grades = [0, 0.5, 1],
        labels = ["gering", "mittel", "hoch"];

    // loop through our density intervals and generate a label with a colored square for each interval
    div.innerHTML += "<h4>Bienenkonzentration</h4>"
    for (var i = 0; i < grades.length; i++) {
        div.innerHTML += 
            '<span style="background:' + grade(grades[i]) + '">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> ' + labels[i] + "<br/>";
    }

    return div;
};

legend.addTo(map);





</script>








<br/><br/><br/><br/><br/><br/><br/><br/><br/>

</div>


{% endblock "content" %}
