{% extends "root.html" %}
{% load i18n l10n %} 

{% block "head_block" %}
        <link rel="stylesheet" href="/static/detail.css"media="screen">
        <script src="/static/raphael.js"></script>
        <script src="/static/jquery.js"></script>
        <script src="/static/detail.js"></script>
        
        <script src="/static/g.raphael.js"></script>
        <script src="/static/g.line.js"></script>
 <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
	<script src="/static/leaflet-providers.js"></script>
{% endblock "head_block" %}
    


{% block "content" %}

<div class="container">

		<div class="page-header">
		  <h1>{{apiary}} <small>{% trans "Apiary" %}</small></h1>
		</div>





	<div id='map' style="height: 600px; width: 100%; position: relative;"></div>
    

	<script>


	var hives = [
	{% for hive in apiaries %}
	    ["{{hive.name}}", {{hive.longitude|unlocalize }}, {{hive.latitude|unlocalize }}, "{{hive.description}} - <a href='/de/detail/{{hive.id}}'>details</a>"],
	{% endfor %}    
	]


	var map = L.map('map', {
				center: [{{apiary.latitude|unlocalize }}, {{apiary.longitude|unlocalize }}],
				zoom: 14,
				zoomControl: false
			});

	var defaultLayer = L.tileLayer.provider('MapBox.kinkerl.ibflihof').addTo(map);



		var circle_options = {
		    color: '#fff',      // Stroke color
		    opacity: 0.2,         // Stroke opacity
		    weight: 5,         // Stroke weight
		    fillColor: '#550',  // Fill color
		    fillOpacity: 0.0798595    // Fill opacity
		};

			var baseLayers = {
				'Default: Mapbox': defaultLayer,
				'OpenStreetMap': L.tileLayer.provider('OpenStreetMap.Mapnik'),
				'Thunderforest Landscape': L.tileLayer.provider('Thunderforest.Landscape'),
				//'Esri WorldTopoMap': L.tileLayer.provider('Esri.WorldTopoMap'),
				'Esri WorldImagery': L.tileLayer.provider('Esri.WorldImagery'),
			};

			var overlayLayers = {
				'OpenWeatherMap Clouds': L.tileLayer.provider('OpenWeatherMap.Clouds'),
				//'OpenWeatherMap CloudsClassic': L.tileLayer.provider('OpenWeatherMap.CloudsClassic'),
				//'OpenWeatherMap Precipitation': L.tileLayer.provider('OpenWeatherMap.Precipitation'),
				//'OpenWeatherMap PrecipitationClassic': L.tileLayer.provider('OpenWeatherMap.PrecipitationClassic'),
				'OpenWeatherMap Rain': L.tileLayer.provider('OpenWeatherMap.Rain'),
				//'OpenWeatherMap RainClassic': L.tileLayer.provider('OpenWeatherMap.RainClassic'),
				'OpenWeatherMap Pressure': L.tileLayer.provider('OpenWeatherMap.Pressure'),
				'OpenWeatherMap PressureContour': L.tileLayer.provider('OpenWeatherMap.PressureContour'),
				'OpenWeatherMap Wind': L.tileLayer.provider('OpenWeatherMap.Wind'),
				'OpenWeatherMap Temperature': L.tileLayer.provider('OpenWeatherMap.Temperature'),
				'OpenWeatherMap Snow': L.tileLayer.provider('OpenWeatherMap.Snow')
			};

			var layerControl = L.control.layers(baseLayers, overlayLayers, {collapsed: false}).addTo(map);



var orangeMaker = L.icon({
    iconUrl: '/static/marker-icon.png',
    shadowUrl: '/static/marker-shadow.png',

    iconSize:     [25,41], // size of the icon
    shadowSize:   [41,41], // size of the shadow
    iconAnchor:   [12,41], // point of the icon which will correspond to marker's location
    popupAnchor:  [1,-34] // point from which the popup should open relative to the iconAnchor
});


	for (var i = 0; i < hives.length; i++) {

		if (hives[i][2] == {{apiary.latitude|unlocalize }} &&  hives[i][1]  == {{apiary.longitude|unlocalize }}) {
			var marker = L.marker( [hives[i][2], hives[i][1]], {icon: orangeMaker}).addTo(map);
			marker.bindPopup("<b>"+hives[i][0]+"</b><br>"+hives[i][3]);

		}else{
			var marker = L.marker( [hives[i][2], hives[i][1]]).addTo(map);
			marker.bindPopup("<b>"+hives[i][0]+"</b><br>"+hives[i][3]);

		}
		
		var circle = L.circle([hives[i][2], hives[i][1]], 1000, circle_options).addTo(map);

	  



	}

	</script>




		<h2>{% trans "plants" %}</h2>
		

			<h3>{% trans "Trees" %}: {{number_trees}}</h3> 
			<br/>
				{% if natural_tree_species %}
				
				<div class="chart" style="padding-right: 30px">	
					<h4>{% trans "treespecies" %}</h4>
					<ul class="list-group" id="table_species">
					  {% for pi,va in natural_tree_species %}
					  <li class="list-group-item">
					    <span class="badge">{{va}}</span>
					    <span class="text">{{pi}}</span>
					  </li>
					  {% endfor %}
					</ul>
					<div id="chart_species"></div>
				</div>
				<script>
					$(function () {
						var values = [],
				        labels = [];
					    $("#table_species li").each(function () {
					        values.push(parseInt($(".badge", this).text(), 10));
					        labels.push($(".text", this).text());
					    });
					    
			            Raphael("chart_species", 600, 600).pieChart(300, 300, 150, values, labels, "#ffffff");
				      });
				</script>

				{% endif %}
				{% if natural_tree_type %}
				<div class="chart" style="padding-right: 30px">	
					<h4>{% trans "treetype" %}</h4>
					<ul class="list-group" id="table_type">
					  {% for pi,va in natural_tree_type %}
					  <li class="list-group-item">
					    <span class="badge">{{va}}</span>
					    <span class="text">{%trans pi %}</span>
					  </li>
					  {% endfor %}
					</ul>
					<div id="chart_type"></div>
				</div>
					<script>

					$(function () {
						var values = [],
				        labels = [];
					    $("#table_type li").each(function () {
					        values.push(parseInt($(".badge", this).text(), 10));
					        labels.push($(".text", this).text());
					    });

			            Raphael("chart_type", 600, 600).pieChart(300, 300, 150, values, labels, "#ffffff");
				      });
				</script>

				{% endif %}
			
				


			<div style="clear: both"></div>


			{% if landuse_vineyard_chart %}
				<h3>Weinanbaugebiete</h3>
				{% for vineyard, amount in landuse_vineyard_chart %}
						<span class="label label-success">{{vineyard}}</span>
				{% endfor %}
			{% endif %}


			{% if leisure_park_chart %}
				<h3>Grünflächen</h3>
				<p>Parkanlagen in direkter Umgebung:</p>
				{% for park, amount in leisure_park_chart %}
						<span class="label label-success">{{park}}</span>
				{% endfor %}
			{% endif %}



		<div style="clear: both"></div>
		<div>
			<h2>Hives</h2>
			{% for placement in apiary.placement.all %}
				<h3>{{placement.hive.identifier}}</h3>
			   <p>{{placement.hive.comment}}</p>
			   	<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Activity Indicatior</h3>
				  </div>
				  <div class="panel-body">
					    <table id="data">
		        		<tfoot>
		            		<tr>
				    		{% for activity in placement.hive.activityindication.all %}
				    			<th><span class="chrt">{{activity.datetime}}</span></th>
			    			{% endfor %}
			    			</tr>
		    			 </tfoot>
		        		<tbody>
		        			<tr>
				    		{% for activity in placement.hive.activityindication.all %}
				    			<th><span class="chrt">{{activity.index}}</span></th>
			    			{% endfor %}
			    			</tr>
			            </tbody>
		    		</table>
		    		<div id="activity_holder"></div>
					<br/>
	 				
				  </div>
				</div>
			    

	    		<script>
		        	var r = Raphael("activity_holder");
		        	var values = [];
		        	var labels = [];
				    
				    $("#data tbody tr th").each(function () {
				        values.push(parseInt($(".chrt", this).text(), 10));
				    });
				    var count = 0;
				    $("#data tfoot tr th").each(function () {
				       labels.push( count);
				       count += 1;
				    });
				   r.linechart(0, 0, 1100, 300, labels, [ values ], {smooth: true, colors: ['#2ca36a']});
				</script>
			{% empty %}
			<p> Sorry, no hives in this apiary </p>
			{% endfor %}
		</div>

</div>
          
{% endblock "content" %}
