{% extends "root.html" %}
{% load i18n l10n %} 

{% block "head_block" %}
    <link rel="stylesheet" href="/static/home.css"media="screen">
    <script src="/static/jquery.js"></script>
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
	<script src="/static/leaflet-providers.js"></script>
{% endblock "head_block" %}
    

{% block "content" %}

    <div class="container">
    <br/><br/>
        <div class="jumbotron">
        <h1 class="display-3">BeeInt <small>Tracker</small></h1>
        <p class="lead">This is a simple helper for beekeepers and city planners. We try to help you do your thing!</p>
        <hr class="my-4">
        <p>If you want to learn more about what we do and our goals, follow the link:.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="" role="button">Learn more</a>
        </p>
        </div>
    </div>

{% endblock "content" %}
